bidoncini_proj/build/
bidoncini_proj/managed_components/
**/build/
**/managed_components/
project/central_server/connect_aws
project/central_server/certs
project/gateway/main/certs
project/sdkconfig.old
project/dependencies.lock
scripts/current.txt
scripts/plot.png
.DS_Store
project/wolfssl-5.7.0
